*{
  margin: 0%;
}
a{
 text-decoration: none !important;
}
li{
  list-style: none;
}
#root{
  background: white;
  padding-bottom: 90px;
  min-height: 100vh;
}
/*Estilos generales */
.principio{
  display: flex;
}
.izquierdaColumna{
  width: 40%;
  padding-top: 20px;
  height: 50%;
}
.izquierdaColumna li{
  font-size: 18px;
  margin-bottom: 30px;
  color: black;
  font-weight: bold;
  text-decoration: none !important;
  text-align: center;
  transition: all 400ms;
  border-radius: 5px;
  margin: 0 15px;
  padding: 15px 0;
}
.izquierdaColumna li:hover{
  background:  white;
  color: black;
}
.izquierdaColumna ul{
  padding-left: 0;
}
.izquierdaColumna{
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  margin-right: 20px;
  max-width: 250px;
}
.izquierdaColumna li {
  color: white;
}
.derechaColumna{
  background: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 30px;
  height: 80vh;
  width:1000px;
  overflow: scroll;
}
.imagenesCap{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
